/*----- NOTES -----*//*

COLOURS
Grey background: #F3F3F3
Nav black: #222

*//*----- GENERAL -----*/
html {
  height: 100%;
}

body {
  background: #F3F3F3;
  color: #666666;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


/*----- NAVBAR -----*/
.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white !important;
}

.navbar .navbar-inner {
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}

.navbar-inverse{
  border-color: #222;
}


/*----- LOGIN -----*/
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.theme-showcase {
  margin-top: 100px;
}

.container {
  font-family: 'Lato', sans-serif;
}

.jumbotron {
  opacity: 0.85;
  filter: alpha(opacity=85); /* For IE8 and earlier */
}


/*----- HOMEPAGE -----*/
.homeTitle {
  font-weight: 400;
  font-size: 14px;
  border-bottom: solid #666 1px;
  margin-top: 20px;
}

.card {
  width: 100%;
  background-color:#ffffff;
  box-sizing:border-box;
  border:1px solid #C6C6C6;
  border-radius:5px;
  margin-bottom:20px;
  position:Relative;
  -webkit-animation:cardIntro 1s;
  padding: 5px;
  min-width: 50px;
}

.title {
  font-weight: 400;
}

.feedTop{
  margin-top: 80px;
}


/*----- PROFILE -----*/
.wallpaper{
  margin-top: 50px;
  background-image: url("img/wallpaper-cage.jpg");
  background-size: cover;
  height: 400px;
}

.personPic {
  margin: 50px 0 0 50px;
}

.profilePic{
  width: 300px;
  border-style: solid;
  border-width: 10px;
  border-color: #222;
}

@media screen and (max-width: 500px) {
  .profilePic{
    width: 250px;
    border-style: solid;
    border-width: 10px;
    border-color: #222;
  }
}

.stats {
  background: hsla(170, 5%, 95%, 0.5);
  height: 100%;
  color: black;
}
