<template name="editProfile">

  <div class="container editProfile">

  <form id="edit_profile">
    <input name="user_name" type="text" placeholder="Name" class="form-control add_name">
    <input name="user_nickname" type="text" placeholder="Nickname" class="form-control add_name">
    <input name="user_location" type="text" placeholder="Location" class="form-control add_name">
    <input name="user_height" type="text" placeholder="Heigth" class="form-control add_name">
    <input name="user_weight" type="text" placeholder="Weight" class="form-control add_name">
    <input name="user_reach" type="text" placeholder="Reach" class="form-control add_name">
    <input name="user_age" type="text" placeholder="Age" class="form-control add_name">
    <input name="user_record" type="text" placeholder="Fight Record" class="form-control add_name">
    <input name="user_designation" type="text" placeholder="Designation" class="form-control add_name">
    <input name="user_gender" type="text" placeholder="Gender" class="form-control add_name">
    <input name="user_weightclass" type="text" placeholder="Weight Class" class="form-control add_name">

    <button type="submit" id="submit_name" class="btn btn-primary">Update</button>
  </form>

  </div>

</template>
