<template name="sidebar">
  <div id="sidebar-wrapper">
    <div class="sidebarImg">
      <img class="img-circle profilePic" src="img/hogan.jpg">
    </div>
    <ul class="sidebar-nav">
      <li class="sidebarTop">
        <a href="#">Profile</a>
      </li>
      <li>
        <a href="#">Followers</a>
      </li>
      <li>
        <a href="#">Following</a>
      </li>
      <li>
        <a href="#">Events</a>
      </li>
      <li>
        <a href="#">Messages</a>
      </li>
      <li>
        <a href="#">Settings</a>
      </li>
    </ul>
  </div>
</template>
